<div class="container">


<form method="post" action="/profile/register" class="panel">

	<h3>Register</h3>

	<% if error %>
	<div class="error"><%= error %></div>
	<% end %>

	<div>
		<label for="email">Email</label>
		<input type="text" name="email" value="<%= email %>">
	</div>
	
	<div>
		<label for="username">Username</label>
		<input type="text" name="username" value="<%= username %>"><br>
		
	</div>
	<div>
		<div class="form_offset"></div>
		<small>(lowercase letters, numbers, underscores)</small>
	</div>
	<br>
	<div>
		<label for="password">Password</label>
		<input type="password" name="password" value="<%= password %>">
	</div>
	
	<div>
		<label for="password2">Repeat Password</label>
		<input type="password" name="password2" value="<%= password2 %>">	</div>
	
	<div>
	<div class="form_offset"></div>
		<input type="submit" name="action" value="Register">
	</div>
	<br>
	<div>
		<div class="form_offset"></div>
		Already have an account? <a href="/user/login">Log In Here</a>
	</div>
	
</form>

</div>