<% ideas.each do |idea| %>
<div class="idea <%= "private" if idea[:public].to_i == 0 %>">
		<h3><%= h idea[:short_description]%></h3>
	
		<p><%= h idea[:long_description]%></p>
		
		<p><%= idea[:created]%> by <%= h idea[:username] %> 
		<% if idea[:username] == current_user %>
			<a href="/idea/edit/<%= idea[:idea_id]%>">Edit</a></p>
		<% end %>
</div>
<% end %>
